flow.json
[{"id":"c6a1069f.b10198","type":"tab","label":"Twitter to Speech","disabled":false,"info":""},{"id":"d725624f.7c51c","type":"tab","label":"Watson Text to Speech API","disabled":false,"info":""},{"id":"b198aac0.c19848","type":"debug","z":"c6a1069f.b10198","name":"Incoming Message","active":true,"console":"false","complete":"payload","x":290,"y":60,"wires":[]},{"id":"de5f16fb.20b038","type":"Twitter Stream","z":"c6a1069f.b10198","connection":"","follow":"","topics":"","tweetLimit":"0","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en","debug":false,"name":"Tweets","x":70,"y":60,"wires":[["b198aac0.c19848","f67f5d0a.06e05"]]},{"id":"c7ce0d50.4b3f6","type":"http request","z":"c6a1069f.b10198","name":"","method":"use","ret":"bin","url":"","tls":"","x":410,"y":220,"wires":[["8c5629d5.ea1458"]]},{"id":"9ce8830b.56403","type":"function","z":"c6a1069f.b10198","name":"HTTP Request String","func":"var dev_url = \"https://twittertospeech.eu-gb.mybluemix.net/getAudio?textvar=\";\nvar value = msg.payload;\n\n//Remove hashes\nvar noHash = value.replace(/[#@]/g, '');\n//Regex to remove URL from tweet\nvar cleanValue = noHash.replace(/(?:https?|ftp):\\/\\/[\\n\\S]+/g, '');\n\nmsg.method = \"GET\";\nmsg.url = dev_url + cleanValue;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":220,"wires":[["3e671acb.450b26","c7ce0d50.4b3f6"]]},{"id":"3e671acb.450b26","type":"debug","z":"c6a1069f.b10198","name":"URL Request String","active":true,"console":"false","complete":"payload","x":443,"y":167,"wires":[]},{"id":"f52de4af.4f2a58","type":"http request","z":"c6a1069f.b10198","name":"","method":"GET","ret":"bin","url":"https://twittertospeech.eu-gb.mybluemix.net/getAudio?textvar=This is what you get if you inject a text string","tls":"","x":410,"y":280,"wires":[["8c5629d5.ea1458"]]},{"id":"38ec903b.6e61a","type":"inject","z":"c6a1069f.b10198","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":280,"wires":[["f52de4af.4f2a58"]]},{"id":"2a829750.889fb8","type":"dropbox out","z":"c6a1069f.b10198","dropbox":"","filename":"","localFilename":"","name":"Dropbox","x":860,"y":280,"wires":[]},{"id":"4c6fb8bc.b6fe28","type":"function","z":"c6a1069f.b10198","name":"File Name","func":"//fileExtension = \".wav\";\nfileExtension = \".mp3\";\ncount = msg.count;\nmsg.filename = \"AudioFile\" + count + fileExtension;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["fed7e27d.dd4e7","2a829750.889fb8"]]},{"id":"8c5629d5.ea1458","type":"counter","z":"c6a1069f.b10198","name":"Message Counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":630,"y":220,"wires":[["4c6fb8bc.b6fe28"]]},{"id":"fed7e27d.dd4e7","type":"debug","z":"c6a1069f.b10198","name":"","active":true,"console":"false","complete":"payload","x":850,"y":215,"wires":[]},{"id":"f67f5d0a.06e05","type":"function","z":"c6a1069f.b10198","name":"Set to extended Tweet","func":"if (msg.payload.truncated === true) {\n    msg.payload = msg.payload.extended_tweet.full_text;\n} else {\n    msg.payload = msg.payload.text;\n}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":140,"wires":[["9ce8830b.56403"]]},{"id":"3bf870ef.2cfe5","type":"http in","z":"d725624f.7c51c","name":"HTTP-In","url":"/getAudio","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["a6914e02.7bdd1","c9e71d53.3f037"]]},{"id":"da228af4.8da8a8","type":"change","z":"d725624f.7c51c","name":"Text to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.textvar","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":453,"y":126,"wires":[["68e33513.0a9c6c"]]},{"id":"68e33513.0a9c6c","type":"watson-text-to-speech","z":"d725624f.7c51c","name":"TextToSpeech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/mp3","password":"k1nKGRBM3cVD","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":556,"y":189,"wires":[["10443d45.fb7373"]]},{"id":"10443d45.fb7373","type":"change","z":"d725624f.7c51c","name":"Speech to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":673,"y":240,"wires":[["b7c4179f.0e8318"]]},{"id":"b7c4179f.0e8318","type":"function","z":"d725624f.7c51c","name":"Set Audio Headers","func":"//Set content type\n//msg.headers={'Content-Type':'audio/wav'};\nmsg.headers={'Content-Type':'audio/mp3'};\n\nreturn msg;","outputs":1,"noerr":0,"x":795,"y":292,"wires":[["b6f5338e.2d673"]]},{"id":"a6914e02.7bdd1","type":"switch","z":"d725624f.7c51c","name":"Check for text","property":"payload.textvar","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":255,"y":197,"wires":[["da228af4.8da8a8"],["d6966b8f.afdeb8"]]},{"id":"d6966b8f.afdeb8","type":"template","z":"d725624f.7c51c","name":"Error","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Missing textvar query parameter!</h1>","output":"str","x":428,"y":362,"wires":[["b6f5338e.2d673"]]},{"id":"b6f5338e.2d673","type":"http response","z":"d725624f.7c51c","name":"HTTP-Out","statusCode":"","headers":{},"x":955,"y":362,"wires":[]},{"id":"c9e71d53.3f037","type":"debug","z":"d725624f.7c51c","name":"","active":true,"console":"false","complete":"payload","x":262,"y":50,"wires":[]}]
